@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.dish_image {
    transition: transform 0.3s ease; /* Smooth transition */
    transform-origin: center center; /* Transform origin set to center */
}

.dish_div:hover .dish_image{
    transform: scale(1.2); /* Scale up by 1.5 times on hover */
}
.hungry{
    background-image: url('./assets/banner-images/beaf.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}